!*.cpp
!*.txt
*.csv
ros/ws_tutorials/build/*
ros/ws_tutorials/devel/*
.vscode/*
!ROSPlan/src/rosplan/new_Interface/*
rosplan/new/
!rosplan/new/aa
ROSPlan/build/
ROSPlan/devel/
ROSPlan/logs/
ROSPlan/.vscode/
ROSPlan/.catkin_tools/
ROSPlan/src/ROSPlan/
Splendor/build/
Splendor/devel/
Splendor/logs/
Splendor/.vscode/
Splendor/.catkin_tools/
Splendor/src/ROSPlan/


