<?xml version="1.0"?>
<launch>
<!-- arguments -->
<!-- arguments -->
	<!-- board -->
	<node name="simulation1" pkg="board" type="simulation_process" respawn="false" output="screen">
	</node>
<node name="simulation2" pkg="board" type="simulation_process" respawn="false" output="screen">
	</node>
<node name="simulation3" pkg="board" type="simulation_process" respawn="false" output="screen">
	</node>
<node name="simulation4" pkg="board" type="simulation_process" respawn="false" output="screen">
	</node>
	
	



</launch>
